*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    height: 100%;
    width: 100%;
   
}
#main{
    width: 100%;
    height: 100vh;

}
#back{
    width: 100%;
    height: 100vh;
    
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color:#000000 ; */
}
#workingarea{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    position: relative;

}
#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px ;
  
}
#nav img{
    height: 60px;
}
#nleft{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nleft a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#nright{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nright a{
    pointer-events:all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
   
}
#hero{
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    transform:translate(0%,-50%);
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
    
    
}
#heroleft{
    min-width: 50%;


}
#heroleft .elem{
    height: 10vw;
    
    overflow: hidden;
}
#heroleft .elem h1{
      line-height: .9;
      font-family:"kajiro" ;
      color: #fff;
      font-weight: 100;
      font-size: 12vw;
}
#heroleft button{
    pointer-events: all;
    padding: .8vw 4vw;
    font-size: 4vw;
    padding-top: 5px;
    font-family: "kajiro";
}
#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    color: #fff;
    /* background-color: #888888; */
}
#heroright p{
   
    font-size: 14px;
    text-align: right;
    font-weight: 300;
}
#heroright #imagediv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1780&q=80);
    background-size:cover ;
    background-position: center;
}
#heroright p:nth-child(3){
     margin-bottom: 60px;
}
